.button {
  font-family: "Dosis", sans-serif;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  gap: 8px;
}


.small {
  padding: 5px 10px;
  font-size: 0.8rem;
}

.medium {
  padding: 10px 20px;
  font-size: 1rem;
}

.large {
  padding: 15px 30px;
  font-size: 1.2rem;
}

.icon {
  width: 16px;
  height: 16px;
}
